.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bg-image-overlay {
  position: relative;
  overflow: hidden;
}

.bg-image-overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 0;
}

.bg-image-overlay > * {
  position: relative;
  z-index: 1;
}

.section-container {
  position: relative;
}

.content-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url('/public/assets/lucas5.jpeg');
  background-size: cover;
  background-position: center;
}

@media (min-width: 768px) {
  .content-container {
    background-image: none;
  }
}

@media (min-width: 1024px) {
  .desktop-sticky {
    position: sticky;
    top: 0;
    z-index: 10;
  }
}

@media screen and (max-width: 767px) {
  .section3-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url('/public/assets/lucas6.jpeg');
    background-size: cover;
    background-position: center;  }
}

@media screen and (max-width: 767px) {
  .section4-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url('/public/assets/lucas1-sin-fondo.jpeg');
    background-size: cover;
    background-position: center;  }
}